<div class="row">
  <div class="col-12">
      
      <mat-vertical-stepper>
	  	<mat-step label="Project Summary">
			
			<div>
			  <button mat-button matStepperPrevious>Back</button>
			  <button mat-button matStepperNext>Next</button>
      		</div>
		</mat-step>
		<mat-step label="Site and Building Information">
			
			<div>
			  <button mat-button matStepperPrevious>Back</button>
			  <button mat-button matStepperNext>Next</button>
      		</div>
		</mat-step>
		<mat-step label="Scoring">
			
			<div>
			  <button mat-button matStepperPrevious>Back</button>
			  <button mat-button matStepperNext>Next</button>
      		</div>
		</mat-step>
		<mat-step label="Attachments">
			
			<div>
			  <button mat-button matStepperPrevious>Back</button>
			  <button mat-button matStepperNext>Next</button>
      		</div>
		</mat-step>
	  
	  </mat-vertical-stepper>
      <!--<div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
            <div class="col-md-6">
                <div class="card1">
                    <ul id="progressbar" class="text-center">
                        <li class="active step0"></li>
                        <li class="step0"></li>
                        <li class="step0"></li>
                        <li class="step0"></li>
                    </ul>
                    <h6 class="mb-5">Project Summary</h6>
                    <h6 class="mb-5">Site and Building Information</h6>
                    <h6 class="mb-5">Scoring</h6>
                    <h6 class="mb-5">Attachments</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card2 first-screen show ml-2">
                    <div class="row text-center px-3 mr-2">
                        <div class="mb-2 col-2"> <span class="fa fa-reddit social"></span> </div>
                        <div class="mb-2 col-2"> <span class="fa fa-facebook social"></span> </div>
                        <div class="mb-2 col-2"> <span class="fa fa-linkedin social"></span> </div>
                        <div class="mb-2 col-2"> <span class="fa fa-google-plus social"></span> </div>
                        <div class="mb-2 col-2"> <span class="fa fa-twitter social"></span> </div>
                        <div class="mb-2 col-2"> <span class="fa fa-dropbox social"></span> </div>
                    </div>
                    <div class="row px-3 mt-4">
                        <div class="form-group mt-1 mb-1"> <input type="text" id="email" class="form-control" required> <label class="ml-3 form-control-placeholder" for="email">Email</label> </div>
                        <div class="next-button text-center mt-1 ml-2"> <span class="fa fa-arrow-right"></span> </div>
                    </div>
                    <div class="row px-3 mt-1 mb-5">
                        <div class="custom-control custom-checkbox"> <input checked id="customCheck1" type="checkbox" class="custom-control-input"> <label for="customCheck1" class="custom-control-label">I want to receive promo emails</label> </div>
                    </div>
                </div>
                <div class="card2 ml-2">
                    <div class="row px-3 mt-3">
                        <div class="form-group mt-1 mb-1"> <input type="password" id="pwd" class="form-control" required> <label class="ml-3 form-control-placeholder" for="pwd">Password</label> </div>
                        <div class="next-button text-center mt-1 ml-2"> <span class="fa fa-arrow-right"></span> </div>
                    </div>
                    <div class="row mt-3 mb-5">
                        <div class="col-12">
                            <p class="mb-1">Password must contain</p>
                            <div class="row">
                                <div class="col-6"><span class="fa fa-circle text-danger"></span> lower case</div>
                                <div class="col-6"><span class="fa fa-circle text-danger"></span> numbers</div>
                            </div>
                            <div class="row">
                                <div class="col-6"><span class="fa fa-circle text-danger"></span> upper case</div>
                                <div class="col-6"><span class="fa fa-circle text-danger"></span> 8-16 characters</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card2 ml-2">
                    <div class="row px-3 mt-3">
                        <p class="mb-0">Select your Country</p>
                        <div class="form-group mt-3 mb-4">
                            <div class="select mb-3"> <select name="account" class="form-control">
                                    <option>India</option>
                                    <option>USA</option>
                                    <option>Germany</option>
                                    <option>Mexico</option>
                                </select> </div>
                        </div>
                        <div class="next-button text-center mt-3 ml-2"> <span class="fa fa-arrow-right"></span> </div>
                    </div>
                </div>
                <div class="card2 ml-2">
                    <div class="row px-3 mt-2 mb-4 text-center">
                        <h2 class="col-12 text-danger"><strong>Success !</strong></h2>
                        <div class="col-12 text-center"><img class="tick" src="https://i.imgur.com/WDI0da4.gif"></div>
                        <h6 class="col-12 mt-2"><i>...Enjoy COOKIES...</i></h6>
                    </div>
                </div>
            </div>
        </div>-->
      
      
    <!--<div class="card card-primary review-card">
      <div class="card-block">
        <button (click)="formVisible=true" class="btn btn-primary float-right">Add site</button>
        <h2 class="card-title">Sites</h2>
        <div *ngIf="formVisible">
          <form (ngSubmit)="onSiteSubmit()">
            <hr>
            <h4>Add your site</h4>
            <div *ngIf="formError" class="alert alert-danger" role="alert">
              {{ formError }}
            </div>
            <div class="form-group row">
              <label for="siteName" class="col-sm-2 col-form-label">Site Name</label>
              <div class="col-sm-10">
                <input [(ngModel)]="newSite.siteName" id="siteName" name="siteName" required="required" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="siteAddress" class="col-sm-2 col-form-label">Site Address</label>
              <div class="col-sm-10 col-md-2">
                <input [(ngModel)]="newSite.siteAddress" id="siteAddress" name="siteAddress" required="required" class="form-control">
              </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary float-right" style="margin-left:15px">Submit</button>
                    <button (click)="formVisible=false" type="button" class="btn btn-default float-right">Cancel</button>
                </div>  
            </div>
            <hr>
          </form>
        </div>
        <div *ngFor="let site of project.sites" class="row review">
          <div class="col-12 no-gutters review-header">
            <span class="siteName">{{ site.siteName }}</span>
          </div>
          <div class="col-12">
            <p [innerHTML]="site.siteAddress"></p>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>