<div class="row">
  <div class="col-12">
	  
      <mat-vertical-stepper>
		  
	  	<mat-step label="Site and Building Information">
			
			<mat-card class="form-card">
				<mat-card-header>
					<mat-card-title>
						Site and Building Information
					</mat-card-title>
					<mat-card-subtitle>
						<span style="color: red">*</span>Field is required
					</mat-card-subtitle>
				</mat-card-header>
				
				<mat-card-content>
					<button (click)="siteFormVisible=true" class="btn btn-light">Add site</button>
					<div *ngIf="siteFormVisible">
						<br>
						<form (ngSubmit)="onSiteSubmit()">
							<div *ngIf="siteFormError" class="alert alert-danger" role="alert">{{ siteFormError }}</div>
							<div class="form-group row">
							  <label for="siteName" class="col-sm-2 col-form-label">*Site Name:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newSite.siteName" id="siteName" name="siteName" required="required" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
							  <label for="siteAddress" class="col-sm-2 col-form-label">*Address:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newSite.siteAddress" id="siteAddress" name="siteAddress" required="required" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
							  <label for="legalDesc" class="col-sm-2 col-form-label">Legal:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newSite.legalDesc" id="legalDesc" name="legalDesc" required="required" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
							  <label for="taxId" class="col-sm-2 col-form-label">Tax Id:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newSite.taxId" id="taxId" name="taxId" required="required" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
								<div class="col-13">
									<button type="submit" class="btn btn-secondary btn-small float-right" style="margin-left:15px">Submit</button>
									<button (click)="siteFormVisible=false" type="button" class="btn btn-default float-right">Cancel</button>
								</div>  
							</div>
						</form>
					</div>
					<mat-card *ngFor="let site of project.sites | mostRecentFirst" class="form-card">
						<div class="card-block">
							<mat-card-header>
								<mat-card-subtitle><span [innerHTML]="site.siteName"></span></mat-card-subtitle>
							</mat-card-header>
							<mat-card-content>
								<button routerLink="{{'site/'+site._id}}" class="btn-link btn-sm float-right">Add building</button>{{site.siteAddress}}									
							</mat-card-content>
						</div>
					</mat-card>
				</mat-card-content>
			</mat-card> <!-----matcard end----->
			<mat-card-actions>
			  <button type="button" class="btn btn-outline-secondary float-right" mat-button matStepperNext>Next</button>
      		</mat-card-actions>
		</mat-step><!-----site and building summary end----->
		<mat-step label="Project Summary">
			<mat-card class="form-card">
				<mat-card-header>
					<mat-card-title>
						Project Summary
					</mat-card-title>
					<mat-card-subtitle>
					  <span style="color: red">*</span>Field is required
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<p>My content</p>
				</mat-card-content>
			</mat-card><!-----matcard end----->
			<mat-card-actions>
				<button type="button" class="btn btn-outline-secondary float-right" mat-button matStepperNext>Next</button>
				<button type="button" class="btn btn-outline-secondary float-right" mat-button matStepperPrevious>Previous</button>
			</mat-card-actions>
		</mat-step><!-----project summary end----->
		<mat-step label="Attachments">
			<mat-card class="form-card">
				<mat-card-header>
					<mat-card-title>
						Attachments
					</mat-card-title>
					<mat-card-subtitle>
						<span style="color: red">*</span>Field is required
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<p>My content</p>
				</mat-card-content>
			</mat-card><!-----matcard end----->
			<mat-card-actions>
				<button type="button" class="btn btn-outline-secondary float-right" mat-button matStepperNext>Next</button>
				<button type="button" class="btn btn-outline-secondary float-right" mat-button matStepperPrevious>Previous</button>
			</mat-card-actions>
		</mat-step><!--attachments end----->
	  </mat-vertical-stepper> <!-----stepper end----->  
	  
	 
  </div>
</div>