<app-header [content]="pageContent.header"></app-header>
<div class="row">
    <div class="col-12 col-md-8">
        <p class="lead">Do you have any questions? Please do not hesitate to contact us directly.</p>
        <form (submit)="onContactSubmit()">
            <div role="alert" *ngIf="formError" class="alert alert-danger">{{ formError }}</div>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input class="form-control" id="name" name="name" placeholder="Enter your name" [(ngModel)]="message.name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" [(ngModel)]="message.email">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea [(ngModel)]="message.message" name="message" id="message" rows="5" class="form-control" placeholder="Your message here"></textarea> 
            </div>
            <button type="submit" role="button" class="btn btn-primary">Send</button>
        </form>
    </div>
    <app-sidebar [content]="pageContent.sidebar" class="col-12 col-md-4"></app-sidebar>
</div>