<div class="row">
	<div class="col-12">
		<mat-card class="form-card">
				<mat-card-header>
					<mat-card-title>
						Building Information
					</mat-card-title>
					<mat-card-subtitle>
						<span style="color: red">*</span>Field is required
					</mat-card-subtitle>
				</mat-card-header>
				
				<mat-card-content>
					<button (click)="assetFormVisible=true" class="btn btn-light">New building</button>
					<div *ngIf="assetFormVisible">
						<br>
						<form (ngSubmit)="onAssetSubmit()">
							<div *ngIf="assetFormError" class="alert alert-danger" role="alert">{{ assetFormError }}</div>
							<div class="form-group row">
							  <label for="assetAddress" class="col-sm-2 col-form-label">*Building Address:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newAsset.assetAddress" id="assetAddress" name="assetAddress" required="required" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
							  <label for="lih" class="col-sm-2 col-form-label">Low-income units:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newAsset.lih" id="lih" name="lih" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
							  <label for="cau" class="col-sm-2 col-form-label">Common area units:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newAsset.cau" id="cau" name="cau" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
							  <label for="mu" class="col-sm-2 col-form-label">Market units:</label>
							  <div class="col-sm-10">
								<input [(ngModel)]="newAsset.mu" id="mu" name="mu" class="form-control">
							  </div>
							</div>
							<div class="form-group row">
								<div class="col-13">
									<button type="submit" class="btn btn-secondary btn-small float-right" style="margin-left:15px">Submit</button>
									<button (click)="assetFormVisible=false" type="button" class="btn btn-default float-right">Cancel</button>
								</div>  
							</div>
						</form>
					</div>
					<mat-card class="form-card">
						<div class="card-block">
							<mat-card-content>
								<table class="table table-bordered">
								  <caption>List of buildings</caption>
								  <thead>
									<tr>
									  <th scope="col">Address</th>
									  <th scope="col">Low-Income Housing Units</th>
									  <th scope="col">Common Area Units</th>
									  <th scope="col">Market Rate Housing Units</th>
									</tr>
								  </thead>
								  <tbody>
									<tr *ngFor="let asset of site.assets | mostRecentFirst">
									  <td><span [innerHTML] = "asset.assetAddress"></span></td>
									  <td><span [innerHTML] = "asset.lih"></span></td>
									  <td><span [innerHTML] = "asset.cau"></span></td>
									  <td><span [innerHTML] = "asset.mu"></span></td>
									</tr>
								  </tbody>
								</table>
							</mat-card-content>
						</div>
					</mat-card>
					</mat-card-content>
		</mat-card> <!-----matcard end----->
		<mat-card-actions>
			<button (click)="wizard()" class="btn btn-secondary btn-small" style="margin-left:15px">Back</button>
		</mat-card-actions>
	</div>
</div>

