extends layout


block content
  .row.banner
    .col-12
      h1 pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      each project in projects
        .card
          .card-block
            h5
              a(href='/project')= project.name
              p.address=project.address
    .col-12.col-md-4
      p.lead= sidebar  
