extends layout


block content
  .row.banner
    .col-12
      h1 WSHFC-Application Portal
        small &nbsp;Please register to start your application.
  .row
    .col-12.col-md-8
      .card
        .card-block
          h5
            a(href='/project') Copper Landing
            p.address 208 15th Ave, Seattle WA
    .col-12.col-md-4
      p.lead Questions or Comments? Contact us at mhcf@wshfc.org
  
