extends layout

block content
  .row.banner
    .col-12
      h1=pageHeader.title
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p 208 15th Ave, Seattle WA
  .row
        .col-12
          .card.card-primary.site-card
            .card-block
              a.btn.btn-primary.float-right(href='/project/site/new') Add site
              h2.card-title Sites
              each site in project.sites
                .row.site
                  .col-12.no-gutters.site-header
                    span.site=site.siteName
                  .col-12
                    p=site.siteAddress