extends layout

block content
  .row.banner
    .col-12
      h1 New Site
  .row
    .col-12.col-md-8
      form(action='/project', method='get',role='form')
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="siteName") Site Name
          .col-12.col-sm-10
            input#siteName.form-control(name="siteName")
        .form-group.row
          label.col-sm-2.col-form-label(for="siteAddress") Address
          .col-sm-10
            input#siteAddress.form-control(name="siteAddress")
        button.btn.btn-primary.float-right Add site
    .col-12.col-md-4
        