extends layout

block content
  .row.banner
    .col-12
      h1 Copper Landing
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p 208 15th Ave, Seattle WA
  .row
        .col-12
          .card.card-primary.site-card
            .card-block
              a.btn.btn-primary.float-right(href='/project/site/new') Add site
              h2.card-title Sites
              .row.site
                .col-12.no-gutters.site-header
                  span.site Copper
                .col-12
                  p 208 15th Ave, Seattle WA
              .row.site
                .col-12.no-gutters.site-header
                  span.site Landing
                .col-12
                  p 1093 23rd Ave, Seattle WA